body{
    height : 100vh;
    width : 100vw;
    background-color: rgb(16, 11, 7);
    color: beige;
    margin : 0rem;
    user-select: none;
    overflow:auto;

    font-family:'Helvetica';
    text-decoration: none;
}

body > * {
    margin:2rem;
}

body::-webkit-scrollbar{
    width: 0.1px;
    background-color: rgb(16,11,7);
}

#title{
    text-align: center;
    font-size: 10rem;
    font-weight: 500;
}

main{
    opacity: 0;
}

.drivers{
    display: flex;
    justify-content: space-evenly;
}

.driverimg{
    margin:1rem;
    height:50rem;
    width:45rem;

    object-fit: contain;

    border-radius: 4rem;
}

.name{
    text-align: center;
    white-space:nowrap;
    margin: 0%;
    font-size: 5rem;
    font-weight: 900;

    transform: rotateX(15deg);

    z-index: -1;
    opacity: 1;
}

header{
    border:2px aqua dotted;
}

main{
    border:2px solid pink;
}

.drivers{
    border:2px solid white;
}

.driver{
    border:2px solid aqua;
}